.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .logo {
  height: 2rem;
  width: 2rem;
}

.sidebar .new-tweet {
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-weight: 900;
  border: 0;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.95); /* 5% darker */
}
