* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --body-font-color: #0f1419;
  --white: #ebeef0;
}

body {
  -webkit-font-smoothing: antialiased; /* better font rendering */
  color: var(--body-font-color);
}

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Page: Timeline */

.layout {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .logo {
  height: 2rem;
  width: 2rem;
}

.sidebar .new-tweet {
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-weight: 900;
  border: 0;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.95); /* 5% darker */
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  height: 2rem;
  width: 2rem;
}

.content {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}
