* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --body-font-color: #0f1419;
  --white: #ebeef0;
  --placeholder-color: #5b7083;
  --separator-color: #f7f9fa;
}

body {
  -webkit-font-smoothing: antialiased; /* better font rendering */
  color: var(--body-font-color);
}

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Page: Timeline */

.layout {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  height: 2rem;
  width: 2rem;
}

.content {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.new-tweet-form {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-tweet-form label {
  display: flex;
  gap: 0.75rem;
}

.new-tweet-form label img {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
}

.new-tweet-form label textarea {
  flex: 1;
  border: 0;
  resize: none;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.new-tweet-form label textarea::focus {
  outline: none;
}

.new-tweet-form label textarea::placeholder {
  color: var(--placeholder-color);
}

.new-tweet-form button[type='submit'] {
  margin-left: auto;
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-weight: 900;
  border: 0;
  font-size: 1rem;
}

.new-tweet-form button[type='submit']:hover {
  filter: brightness(0.95); /* 5% darker */
}
